@import "../baseInfo";

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    padding: 30px 0;
    background-color: $white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    @media only screen and (max-width: 1024px) {
        padding: 20px 0;
    }
    &-brand {
        width: 120px;
        @media only screen and (max-width: 1024px) {
            width: 100px;
        }
    }
    &__hamburger {
        width: 24px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        span {
            height: 3px;
            width: 100%;
            background: $black_1;
            display: block;
        }
        &.active {
            span {
                &:nth-child(1) {
                    transform: translateY(6px) rotate(-45deg);
                }
                &:nth-child(2) {
                    transform: rotate(-360deg);
                    background-color: transparent;
                }
                &:nth-child(3) {
                    transform: translateY(-9px) rotate(45deg);
                }
            }
        }
    }
    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        @media only screen and (max-width: 1024px) {
            position: absolute;
            left: 0;
            width: 100%;
            top: 100px;
            justify-content: center;
            flex-direction: column;
            background: $l-orangeColor;
            height: 0px;
            overflow: hidden;
            &.active {
                height: calc(100vh - 100px);
            }
        }
    }
    &__link {
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: visible;
        z-index: 2;
        @media only screen and (max-width: 1024px) {
            max-width: 170px;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -5px;
            width: calc(100% + 10px);
            height: 30px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 71 24'%3E%3Cpath fill='%23F4DC49' d='m18.6618 23.1599.0773-.7973c.8379.0116.2153.9193.9957.7459.3358-1.1194 1.2811.1547 1.5666-.4365-.009.0897.3678.1343.3353.4864.1347-.609.3947-.1315.6386-.2808.0932-.1672-.0575-.185-.1181-.3733l.5543-.2001c.2082.2028.251.5672.016.6268 1.4229.2622 8.2754 1.0523 9.8273.792-.1846-.4686-.6693-.1698-.8271-.9041.4183-.3974.5971.161.7893-.2631.1253 1.0865.8865.2862 1.1625 1.3905l.1347-.609.1903.3822c1.8105-.5859.4186-.3008 2.0042-.107.9222-.0659 1.3851-.905 1.8859-.5769-.0754-.0089-.2688-.3912-.0249-.5405.0249.5405.6443-.3673.7447.1787.235-.0596.9886.0294.7555-.7138.1182.37.7874.5432.3749.8507.2261.0267.4432.1431.6118-.0151l-.2867-.2151c.7714-.0836 1.1732.498 1.6936-.1528l-.2746-.3014c.461-.0329.8468-.0781 1.0046.6562l-.4789.209c.7626.0027 1.2236-.0302 1.8712-.4008l-.2261-.0267c.8308-.7049 5.0802-1.1782 5.8535-2.0681l-.3263-.576.6564-.4569c-.0753-.0089-.3632 1.8282-.4206 1.6399 1.3743-.0124 8.5345-.2393 9.7888.1812.5039.3281.0645.9014.0556.9911.6296-.1912.2854-.5912.8161-.5288.1418.1075-.0446.4418-.1257.5193.235-.0596.4432.1432.47-.1226-.2835-.215-.1399-.9103-.2492-1.37l.6783.0801-.0446.4418c.1507.0178.4201-1.2002 1.0836-.9406 1.1246.2267 2.354.1067 3.4876.2437-.0269.2657-.2676.4151-.5116.5644.1507.0178.3857-.0418.5218.1521-.26-.4774.4847-.2987.2764-.5015.8634-1.057 1.9108-.0364 2.6662-.7502.092-.9734 2.0685-16.67965 2.103-17.83801.2261.02671.4521.05675.5217.15211-.0517-.27473-.4949-.41784-.7388-.26851l-.0594.61791c-.5543.20006-.1181-.37332-.6546-.34597-.0133-.50679.4811-.60203.9171-.63904-.3886-.07152-.7649-.45251-.942.09859-.359-.22056.0593-.61791-.3749-.850704-.3193.140424-.7465.624124-1.0997.313784l.009-.08969c-.8629-.548714-1.3673.72894-2.1548.18912l.09-.16723c-.2746-.301344-.8467.07477-1.3475-.253291.1418.107491.26.477481-.0503.528221-.5793-.33706-.9887-.0294-1.4082-.43833l-.4272.4837c-2.0468-.15748-10.1594.30756-12.2209.32621l.0842-.07745c-3.1433.1564-9.5808-.07502-12.8409.51434-.4861-.5042-1.1822-.4083-1.7007-.56364.2836.21166.1756.55826-.0505.53155-1.5914-.10396-.1171.33634-1.7354.4981-1.868.40088-8.9556-.32961-10.5899-.79466-.9062.696-1.995.11725-2.8744.54752l.0932-.16714c-.9401.24523-6.1908-.58055-7.2783-.35636l.1417.10749c-.9579.42128-.8052-.3671-1.5411-.63218.0736.81176-.7492 1.24704-1.0597 1.30111l.0179-.17604c-.47.12262-1.54253.79368-2.31403.88068l.04465-.44177c-.65329.45699-1.85333.22474-2.31439.25767-1.04615-.21434-2.64781-1.0349-4.0726-.49091l-.8724-1.28861-.136.12256S-.417466 16.8523 1.34363 20.1529l-.0415.4419.37006-.0457c.43435.2295.65425-.277.6096.1648l-.60293-.0713c.44018.1397.12145.3668-.05285.6115.18448.0488.36236.1074.50638.2449.0932-.1671-.05753-.1849-.12393-.2835.24394-.1494.58691-.5556.87043-.3406.45219.0534.00705.7165.53462.7788 2.78251.4259 5.47182 1.0189 8.29579 1.003.0576.1849-.0178.176-.1021.2568.8557-.1645 1.6094-.0754 2.3897-.2488.2083.2028.26.4775.3175.6625-.1182-.37 4.2875-.2723 4.354-.1771l-.0066.0098Z'/%3E%3C/svg%3E");
            z-index: -1;
            transition: 0.3s ease-in-out;
            opacity: 0;
            @media only screen and (max-width: 1024px) {
                height: 60px;
            }
        }
        &:hover::after,
        &.active::after {
            opacity: 1;
        }
    }
    &__talkBtn {
        font-weight: 500;
        color: $white;
        display: flex;
        min-width: 180px;
        height: 40px;
        border-radius: 20px;
        background-color: $orangeColor;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 1024px) {
            min-width: 260px;
            border-radius: 25px;
            height: 50px;
        }
    }
}
