// variables
$font_size_base: 16px;
$black_1: #000;
$white: #ffffff;
$l-pinkColor: #f6b2d0;
$pinkColor: #ffb3d2;
$l-orangeColor: #fefbed;
$orangeColor: #e65435;
$yellowColor: #f4dc49;
$greenColor: #22af6f;
